.card {
    border-style: groove;
    border-width: 7px;
    border-color: white;
    margin-top: 10px;
    width: 30%;    
}

.buttonCard {
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    color: red;
    border-style: none;
    background: none;
    cursor: pointer;
}

.pokeImage{
    width: 100%;
}

.divCardEvolutions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
