.divSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inputSearch {
    border-radius: 20px;
    font-size: large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: white;
    border-style: groove;
    border-width: 7px;
}

.filterButton {
    border-radius: 20px;
    font-size: large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: white;
    border-style: groove;
    border-width: 7px;
}

.filterButton:hover {
    border-color: yellow;
}

.filterButton:active {
    border-color: yellowgreen;
}