.favoriteCard {
    border-style: groove;
    border-width: 7px;
    border-color: white;
    margin-top: 10px;
    width: 100%;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.buttonCard {
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    color: red;
    border-style: none;
    background: none;
    cursor: pointer;
}

.divCardEvolutions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divDescription{
    width: 50%;
}
